<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Img to PDF Converter</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <h1 class="heading">Image <br> to <br> PDF <br></h1>
        <form class="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="avatar" class="input-file">
            <br/>
            <button type="submit" class="btn-submit">Convert</button> 
        </form>
    </div>
</body>
</html>